#type-text {
    font-size: 40px;
    font-size: large;
    text-align: center;
}

#colorcard {
    background-color: rgb(243, 232, 219)
}

#card-inicio {
    height: 400px;
    width: 401px;

}

#cor-navbar {
    background-color: #5e5e5e
}

body {
    background-color: #aaaa91;


}

#display {

    display: flex;
    justify-content: center;



}