

body {

    background: #96B6C5;
    
    
}


.font-text{

font-family: Arial, Helvetica, sans-serif;
font-size: 25px ;

}

.corpo-pg{
 color: #EEE0C9;



}
.borda{

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: solid ;
    border-color: black;
    
}

.margem{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;




}
