/*
css
*/


body {

    color: blueviolet;
    background-color: #0037ff;
    
}

.corpo-da-pagina {

    color: blueviolet;
    background-color: #93B1A6;

}

.div-conteudo-img {

    color: #F1F0E8;
    text-align: center;
    

}

#GRUPO_1 {
    color:rgb(0, 217, 255);
    
    
}
a{
    color: aliceblue;
    
}

#borda{
        border-radius: 200px ;
        
    
}