/*
css
*/


body {

    color: blueviolet;
    background-color: #0037ff;
    
}
section{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border: 3px solid #5C8374;
    border-radius: 25px;
    margin-bottom: 25px;
    text-align: left;   





}

.corpo-da-pagina {

    color: blueviolet;
    background-color: #93B1A6;

}

.div-conteudo-img {

    color: #F1F0E8;
    text-align: center;
    

}

#GRUPO_1 {
    color:rgb(0, 217, 255);
    
    
}
a{
    color: aliceblue;
    
}

#borda{
        border-radius: 200px ;
        margin-left: 10px;
      
}
#header-index{
    background-color: #5C8374;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    margin-left: 800px;
    margin-right: 800px;
    }